body{
  /* height: 100vh; */
  width: 100vw;
  /* overflow: hidden; */
}

.pointer{
  cursor: pointer;
}

.font-italic{
  font-style: italic;
}

.font-x-large{
  font-size: 1.5rem;
}

.font-family-cursive{
  font-family: cursive;
}

.text-bold{
  font-weight: bold;
}
.bg-blue{
  background-color: #016AA7;
}
.opacity-50{
  opacity: 0.50;
}
.board{
  position: relative;
}
.board img{
  width: 210px;
  height: 103px;
}

.board:hover{
  opacity: 0.95;
}

.board-text{
  top: 0;
  left: 25px;
  position: absolute;
}
.board-create{
  position: absolute;
  top: 40px;
  left: 35px;

}
.board-create-size{
  width: 210px;
  height: 103px;
}
.cards-container{
  background-color: rgb(238, 255, 0);
  height: 100px;
  width: 100%;
}

.List{
  background-color: aqua;
  height: 500px;
  width: 300px;
}

.popup {
  animation-name: popup;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}